
@{
    ViewData["Title"] = "Restaurant";


}
<div class="text-center">
    <h1 class="display-4">Restaurants</h1>
    <div class="card-deck">
        @*@foreach (var restaurant in restaurants)
            {
            <a class="card split" asp-area="" asp-controller="Home" asp-action="RestaurantReservation">
                <div>
                    <img src="@Url.Content(restaurant.ImgPath)" class="card-img-top" alt="@restaurant.Name">
                    <div class="card-body">
                        <h5 class="card-title">@restaurant.Name</h5>
                    </div>
                </div>
            </a>
            }*@
    </div>
</div>