@model BookingApp.ApplicationLogic.DataModel.BarbershopReservation
@{
    ViewData["Title"] = "BarbershopReservation";
    Barbershop barbershop = ViewData["barbershop"] as Barbershop;
}

<div class="container w-50 text-center">
    <h1 class="display-4">@barbershop.Name</h1>
    <form style="margin-top: 13rem" asp-controller="Barbershop" asp-action="BarbershopReservation" asp-route-id="@barbershop.Id" method="post">

        <div class="input-group mb-3" style="margin-top: 10rem;">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect03">Date</label>
            </div>
            <input class="custom-select" data-date-format="dd/mm/yyyy" id="datepicker" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect02">Hour</label>
            </div>
            <select class="custom-select" id="inputGroupSelect02" asp-for="StartHour">
                <option selected>Choose...</option>
                <option value="11:00">11:00</option>
                <option value="14:00">14:00</option>
                <option value="16:00">16:00</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-5 col-md-12">Book</button>
    </form>
</div>